<div id="guide">
  <h1 class="logo"><a href="#">Notes</a></h1>
  <ul class="menu nav">
    <li><%= link_to 'Notes', notes_path %></li>
    <li><%= link_to 'Gems', gem_comments_path %></li>
    <li><%= link_to 'Projects', projects_path %></li>
  </ul>
</div>

<div id="content">
  <div class="menubar">
    <div class="page-title">
          Edit Note 
          <small class="hidden-xs">
            <strong>update note</strong>
          </small>
    </div>
  </div>

<%= render partial: 'form', locals: {note: @note} %>

</div>
