<h1>Notes Index</h1>
<hr>

<% @notes.each do |note| %>
<div class="row">
  <div class="col-md-2">
    <%= link_to note.title, note %>
  </div>
  <div class="col-md-5">
    <%= markdown note.description %>
  </div>
  <div class="col-md-5">
      <%= markdown note.code_sample %>
  </div>
</div>
<hr>
<% end %>
<%= will_paginate @notes, renderer: BootstrapPagination::Rails %>
