<div id="guide">
  <h1 class="logo"><a href="#">Notes</a></h1>
  <%= render partial: 'shared/nav' %>
</div>

<div id="content">
  <div class="menubar">
    <div class="page-title">
          New Note 
          <small class="hidden-xs">
            <strong>Add note</strong>
          </small>
    </div>
  </div>

<%= render partial: 'form', locals: {note: @note} %>

</div>

