<div id="page-wrapper">
  <div class="row">
    <h3>Create New Project Note</h3>
    <hr>
    <div class="col-md-10">
      <%= render partial: 'form', locals: {note: @note} %>
    </div>
  </div>
</div>
