<div id="content">

<div class="menubar">
  <div class="page-title">
    Dashboard
  </div>
</div><!-- end menu -->

<div id="docs">
  <div id="api-docs">
    <div id="methods">
      <div class="method">
        
        <div class="method-section clearfix">
          
          <div class="method-description">
            <h3><h3</h3>
            <p>desc</p>
          </div>
        
        <div class="method-example">
          <pre>
            <code class="ruby">
              code
            </code>
          </pre>
        </div><!-- end me -->

      </div>
      
    </div>
  </div>
  
</div>
</div>
</div><!-- end content -->
  
  





        
             
             
            
        
    