<div id="page-wrapper">
  <div class="row">
    <h3>Editing <%= @gem_comment.name %></h3>
    <hr>
    <div class="col-md-10">
      <%= render partial: 'form', locals: {gem_comment: @gem_comment} %>
    </div>
  </div>
</div>