<div id="guide">
  <h1 class="logo"><a href="#">Gems</a></h1>
<%= render partial: 'shared/nav' %>
</div>

<div id="content">
  <div class="menubar">
    <div class="page-title">
          Editing
          <small class="hidden-xs">
            <strong><%= @gem_comment.name %></strong>
          </small>
    </div>
  </div>
  
  <%= render partial: 'form', locals: {gem_comment: @gem_comment} %>

</div>