<div id="guide">
  <h1 class="logo"><a href="#">Gems</a></h1>
 <%= render partial: 'shared/nav' %>
</div>

<div id="content">
  <div class="menubar">
    <div class="page-title">
          New
          <small class="hidden-xs">
            <strong>Gem</strong>
          </small>
    </div>
  </div>

<%= render partial: 'form', locals: {gem_comment: @gem_comment} %>

</div>