<h1>Show Action</h1>
<h3><%= @gem_comment.name %></h3>
<p><%= @gem_comment.description %></p>
<p><%= markdown @gem_comment.code_sample %></p>

<%= link_to 'edit', edit_gem_comment_path(@gem_comment) %>