<div id="page-wrapper">
  <div class="row">
    <h3>Editing <%= @project.name %></h3>
    <hr>
    <div class="col-md-10">
      <%= render partial: 'form', locals: {project: @project} %>
    </div>
  </div>
</div>
