<div id="guide">
  <h1 class="logo"><a href="#">New</a></h1>
<%= render partial: 'shared/nav' %>
</div>

<div id="content">
  <div class="menubar">
    <div class="page-title">
          New Project
          <small class="hidden-xs">
            <strong>add project</strong>
          </small>
    </div>
  </div>

<%= render partial: 'form', locals: {project: @project} %>

</div>
